= form_with(model: request, local: true) do |form|
  - if request.errors.any?
    #error_explanation
      %h2
        = pluralize(request.errors.count, "error")
        prohibited this request from being saved:
      %ul
        - request.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit

/ Button trigger modal
%button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
  Launch demo modal
/ Modal
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title.glyphicon.glyphicon-warning-sign Modal title
      .modal-body
        \...
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Save changes
